{
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,
    "bracketSpacing": true,
    "tabWidth": 2,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.jsx",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.html",
            "options": {
                "tabWidth": 4,
                "singleQuote": false
            }
        }
    ]
}
