$header-height: 95vh;
$header-background: hsla(0, 0%, 0%, 0.06);

$theme-color: hsla(225, 50%, 60%, 1);
$text-color: hsla(0, 0, 0, .87);
$background-color: hsla(225, 50%, 99%, 1);
$card-background-color: #fff;

$background-color-dark: hsla(225, 50%, 10%, .87);
$text-color-dark: hsla(0, 0%, 100%, 0.87);
$theme-color-dark: $theme-color;
$card-background-color-dark: hsla(0, 0, 0, 0.12);
