.theme-toggle {
    display: block;
    position: fixed;
    bottom: 8px;
    right: 0;
    width: 56px;
    height: 56px;
    padding: 0;
    border: none;
    vertical-align: middle;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: var(--theme-color);
    color: #ffffff;
    font-size: 32px;
    line-height: 56px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    outline: none;
}
